<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <style>
      .custom-delete-button {
        color:#dc3545;
        background-color: #fff;
        border: 1px solid#dc3545;
      }
    </style>
    <title>TinyApp</title> 
  </head>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <h3>My URLs</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL ID</th>
            <th scope="col">Long URL</th>
            <th scope="col" style="text-align: left;"></th>
            <th scope="col" style="text-align: left; margin-left: 5px;">Edit</
            <th scope="col" style="text-align: left;"></th>
            <th scope="col" style="text-align: left; margin-left: 5px;">Delete</th>

          </tr>
        </thead>
          <tbody>
            <% for (let id in urls) { %>
              <tr>
                <td><%= id %></td>
                <td><%= urls[id] %></td>
              <td><%= urls[id].longURL %></td>
              <td class="margin-left: 50px;"><form method="GET" action="/urls/<%= id %>"><button>Edit</button></form></td>
      <td><form method="POST" action="/urls/<%= id %>/delete"><button>Delete</button></form></td>
            </tr>
            <% } %>
          </tbody>
      </table>
    </main>
    